@import url('../../index.css');

.wrapper {
    background-color: var(--bg-secondary);
    flex-direction: column;
    border-radius: 0.5rem;
    display: flex;
    padding: 1rem;
    border: 1px solid var(--bg-outline);
    width: 18rem;
    gap: 1rem;
}

.product-img {
    border-radius: 0.25rem;
    object-fit: contain;
    height: 16rem;
}

.details {
    align-items: flex-start;
    align-self: stretch;
    display: flex;
    gap: 1rem;
    & > .text {
        flex-direction: column;
        min-width: 0;
        display: flex;
        flex: 1 1 0;
        gap: 0.5rem;
        & > h2 {
            text-overflow: ellipsis;
            font-weight: 700;
            white-space: nowrap;
            font-size: 1rem;
            overflow: hidden;
            color: var(--tg-primary);
        }
        & > h3 {
            font-weight: 500;
            font-size: 1rem;
            color: var(--tg-secondary);
        }
    }
}

.ctas {
    display: flex;
    gap: 1rem;
    & > .reserve {
        width: 100%;
    }
}

.divider {
    border: 1px solid var(--bg-outline);
}
