@import url('../../index.css');

.wrapper {
    display: inline-block;
    position: relative;
    flex: none;
}

.primary {
    background-color: var(--accent-base);
    justify-content: center;
    border-radius: 0.25rem;
    align-items: center;
    font-weight: 600;
    transition: 0.25s ease all;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    display: flex;
    border: 1px solid var(--bg-outline);
    color: var(--bg-primary);
    gap: 0.5rem;
    &:hover {
        background-color: var(--accent-hovered);
        cursor: pointer;
        color: var(--tg-primary);
    }
}

.secondary {
    background-color: transparent;
    justify-content: center;
    border-radius: 0.25rem;
    align-items: center;
    font-weight: 600;
    transition: 0.25s ease all;
    font-size: 0.875rem;
    padding: 0.75rem 1.25rem;
    display: flex;
    border: 1px solid var(--bg-outline);
    color: var(--tg-primary);
    gap: 0.5rem;
    &:hover {
        background-color: var(--bg-outline);
        cursor: pointer;
        color: var(--accent-base);
    }
}

.icon {
    background-color: transparent;
    place-content: center;
    transition: 0.25s ease all;
    font-size: 1rem;
    display: grid;
    border: 0;
    color: var(--tg-primary);
    &:hover {
        cursor: pointer;
        color: var(--accent-base);
    }
}

.disabled {
    background-color: var(--bg-disabled);
    justify-content: center;
    border-radius: 0.25rem;
    align-items: center;
    font-weight: 600;
    transition: 0.25s ease all;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    display: flex;
    border: 0;
    color: var(--tg-disabled);
    gap: 0.5rem;
    &:hover {
        cursor: not-allowed;
    }
}

.icon-outlined {
    background-color: transparent;
    border-radius: 0.25rem;
    place-content: center;
    transition: 0.25s ease all;
    font-size: 1rem;
    display: grid;
    height: 2.5rem;
    border: 1px solid var(--bg-outline);
    width: 2.5rem;
    color: var(--tg-primary);
    &:hover {
        background-color: var(--bg-outline);
        cursor: pointer;
        color: var(--accent-base);
    }
}

.button-active {
    background-color: var(--bg-outline);
    color: var(--accent-base);
}

.chevron {
    transition: transform 0.25s ease;
}

.chevron-active {
    transition: transform 0.25s ease;
    transform: rotate(180deg);
}
