@import url('../../index.css');

.primary {
    background-color: var(--accent-base);
    justify-content: center;
    border-radius: 0.25rem;
    align-items: center;
    font-weight: 600;
    transition: 0.25s ease all;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    display: flex;
    border: 1px solid var(--bg-outline);
    color: var(--bg-primary);
    &:hover {
        background-color: var(--accent-hovered);
        cursor: pointer;
        color: var(--tg-primary);
    }
}

.secondary {
    background-color: transparent;
    justify-content: center;
    border-radius: 0.25rem;
    align-items: center;
    font-weight: 600;
    transition: 0.25s ease all;
    font-size: 0.875rem;
    padding: 0.5rem 1rem;
    display: flex;
    border: 1px solid var(--bg-outline);
    color: var(--tg-primary);
    &:hover {
        background-color: var(--bg-outline);
        cursor: pointer;
        color: var(--accent-base);
    }
}

.icon {
    background-color: transparent;
    place-content: center;
    transition: 0.25s ease all;
    font-size: 1.2rem;
    display: grid;
    height: 2rem;
    border: 0;
    width: 2rem;
    color: var(--tg-primary);
    &:hover {
        cursor: pointer;
        color: var(--accent-base);
    }
}
