 @import url('../../index.css');

.desktop-header {
    background-color: var(--bg-secondary);
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-outline);
    align-items: center;
    position: fixed;
    z-index: 999;
    padding: 2rem 8rem;
    display: flex;
    width: 100%;
}

.mobile-header, .drawer-header {
    background-color: var(--bg-secondary);
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-outline);
    align-items: center;
    position: fixed;
    z-index: 999;
    padding: 2rem 2rem;
    display: flex;
    width: 100%;
}

.mobile-nav {
    margin-top: 6rem;
    flex-direction: column;
    display: flex;
    height: 100%;
    & > *:not(ul) { padding: 1.5rem 2rem; }
}

.mobile-cta {
    display: flex;
    padding: 2rem;
    gap: 1rem;
    & > button {
        padding: 0.75rem 2rem; 
        width: 100%;
    }
}

.drawer {
    background-color: var(--bg-secondary);
    justify-content: space-between;
    flex-direction: column;
    transition: transform 0.25s cubic-bezier(.4,0,.2,1);
    transform: translateX(-100%);
    position: fixed;
    z-index: 999;
    display: flex;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
}

.drawer-open {
    transform: translateX(0);
}

.left {
    align-items: center;
    display: flex;
    gap: 2rem;
}

.right {
    align-items: center;
    display: flex;
    gap: 2rem;
}

.nav {
    align-items: center;
    display: flex;
    gap: 2rem;
}

.profile-display {
    justify-content: space-between;
    border-radius: 0.5rem;
    padding: 1rem;
    display: flex;
    border: 1px solid var(--bg-outline);
    width: 100%;
    & > h3 {
        font-weight: 600;
        font-size: 1rem;
        color: var(--tg-primary);
    }
    & > i {
        color: var(--tg-disabled);
    }
}

.mobile-nav-anchor {
    padding: 1.5rem 2rem;
}

@media only screen and (max-width: 1200px) {

    .desktop-header { padding: 2rem 4rem; }

}

@media only screen and (max-width: 1080px) {

    .desktop-header { padding: 2rem 2rem; }

}

@media only screen and (max-width: 854px) {

    .desktop-header { display: none; }
    .drawer { display: flex; }
    .mobile-header { display: flex; }

}

@media only screen and (min-width: 854px) {

    .desktop-header { display: flex; }
    .drawer { display: none; }
    .mobile-header { display: none; }

}
