@import url('../../index.css');

.desktop-header {
    background-color: var(--bg-secondary);
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-outline);
    align-items: center;
    padding: 2rem 8rem;
    display: flex;
}

.mobile-header {
    background-color: var(--bg-secondary);
    justify-content: space-between;
    border-bottom: 1px solid var(--bg-outline);
    align-items: center;
    padding: 2rem 2rem;
    display: flex;
}

.mobile-nav {
    flex-direction: column;
    display: flex;
    padding: 2rem;
    height: 100%;
}

.mobile-cta {
    display: flex;
    padding: 2rem;
    gap: 1rem;
    & > button {
        padding: 0.75rem 2rem; 
        width: 100%;
    }
}
.left {
    align-items: center;
    display: flex;
    gap: 2rem;
}

.right {
    align-items: center;
    display: flex;
    gap: 2rem;
}

.nav {
    align-items: center;
    display: flex;
    gap: 2rem;
}

@media only screen and (max-width: 1164px) {

    .desktop-header { padding: 2rem 4rem; }

}

@media only screen and (max-width: 1440px) {

    .desktop-header { padding: 2rem 2rem; }

}


@media only screen and (min-width: 972px) {

    .desktop-header { display: flex; }
    .mobile-header { display: none; }

}

@media only screen and (max-width: 972px) {

    .desktop-header { display: none; }
    .mobile-header { display: flex; }

}
