@import url('../../index.css');

.banner {
    background-image: url('/Banners/parts-and-accessories-banner.png');
    background-position: center;
    background-repeat: no-repeat;
    justify-content: center;
    background-size: 100%;
    border-radius: 0.5rem;
    align-items: center;
    align-self: stretch;
    display: flex;
    height: 8rem;
    border: 1px solid var(--bg-outline);
}
   

.pagewrap {
    
    flex-direction: column;
    align-self: flex-start;
    display: flex;
    gap: 1rem;
    margin-bottom: -3rem;
    & > button {
        align-self: flex-start;
    }


}

.wrapper {
    flex-direction: column;
    padding: 12rem 8rem 8rem 8rem;
    display: flex;
    gap: 4rem;
    & > h1 {
        align-self: flex-start ;
        transition: 0.25s ease all;
        font-weight: 700;
        font-size: 2.875rem;
        color: var(--tg-primary);
        &:last-child { font-size: 1.75rem; }

    }
    
}

.container {
    justify-content: center;
        align-content: center;
        align-items: center;
        align-self: stretch;
        flex-wrap: wrap;
        display: flex;
}

    .products {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 5.813rem;
        margin: 0.5vh auto 0 auto;
        max-width: 1780px;
        align-self: stretch;
        align-items: center;
        
    }

    .paginationContainer {
        display: flex;
        justify-content: space-between; 
        align-items: center;
        width: 100%;
        border-radius: 0.5rem;
        border: 1px solid var(--bg-outline);
        background: var(--bg-secondary);
        padding: 1rem;
    }

    .info {
        flex-direction: column;
        align-items: flex-start;
        display: flex;
        gap: 0.5rem;
        & > h3 {
            font-weight: 400;
            font-size: 0.875rem;
            color: var(--tg-secondary);
            &:last-child { font-size: 0.75rem; }
        }
    }
    
    .pagination {
        display: flex;
        flex-direction: row;
        gap: 1rem;
    }




@media only screen and (max-width: 1760px) {
    
    .products { grid-template-columns: repeat(3, 1fr); } 
}

@media only screen and (max-width: 1440px) {

    .wrapper { padding: 8rem 4rem 2rem 4rem; }

    .products { grid-template-columns: repeat(2, 1fr); }

}

@media only screen and (max-width: 1080px) {

    .wrapper { padding: 8rem 2rem 2rem 2rem; }

    .products { grid-template-columns: repeat(1, 1fr); }

}




